body{
    
}

main {
    float: left;
    width: 100%;
    margin: 45px 0;
    background-color: yellow;
}

main > div.wrapper{
    width: 960px;
    margin: 0 auto;
}

header, footer{
    width: 100%;
    float: left;
    background-color: yellow;
}

/*-----------------------------------------------------------------
 Menu */

nav ul.navigation {
    float: left;
    width: 100%;
    margin: 0 2%;
    padding-left: 0;
    list-style-type: none;
    text-align: center; /* centramos el contenido del <ul> (<li>)*/
} 

nav ul.navigation li{
    display: inline-block; /* evita el salto de linea (inline) pero permite la distribución de bloque */
    width: 20%; /* al ser inline-block estaban ocupando el tamaño de su contenido */
    text-align: center; /* centramos el contenido del <li> (<a>) Aunque en realidad el agent user: Chrome W10 le da una propieda webkit que hace que herede el text align del padre, luego sería inncesario*/
    background-color: purple;
    transition: background-color 1s;
}

/*
    a(:link)
    a:visited
    a:hover
    a:active
*/

nav ul.navigation > li.normal:hover{ /* al pasar el ratón por un contenedor <li> se cambia su bg-color y su width */
    background-color: violet;
    width:25%;
}

nav ul.navigation li:hover{
    background-color: violet;
}

/* Cuando pasee el ratón por el li quiero que su hijo cambie su color */
nav ul.navigation li:hover > a{
    color: white;
}

nav ul.navigation li > span{
    color: white;
}

nav ul.navigation li > a{
    color: yellow; /* ya que si no se especifíca heredaría la propiedad del padre (contendor <li>) */
}

nav ul.navigation li:visited > a{
    border: ;
} /* Cuando haya visitado el enlace quiero que su padre cambie su border  */


nav ul.navigation li > a:hover{
     color: purple;
}


nav li.dropdown {
    position: relative;
    
}

nav li.dropdown > ul {
    position: absolute;
    display: none; /* que no se muestre */
    text-align: center; /* Para que los li hijos estén centrados*/
    list-style-type: none;
    padding-left: 0;
}

nav li.dropdown > ul > li {
    background-color: purple;
    display: inline-block;
    width: 70%;
}

nav li.dropdown:hover > ul {
    top: 18px;
    left: 0;
    display: block;
    list-style-type: none;
    padding-left: 0;
    width: 274.18px; /* Dato del li.drop-down visto con el inspector */
}


/*---
-------------------------------------------------------------
Formulario*/

form{
    width: 100%;
    margin-top: 5%;
}


.left-col{
    width: 50%;
    float: left;
    margin-bottom: 5px;
    text-align: center;
}

.right-col{
    width: 50%;
    float: left;
    margin-bottom: 5px;
}

.center{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Armonizar fuentes tamaños y bordes */
input, textarea, select {
    /* Para asegurarse de que todos los campos de texto tienen las mismas propiedades de fuente
       Por defecto, las areas de texto tienen una fuente con monospace */
    font: 1em sans-serif;

    /* Para darle el mismo tamaño a todos los campos de texto */
    width: 60%;
    box-sizing: border-box;

    /* Para armonizar el look&feel del borde en los campos de texto */
    border: 1px solid #999;
}

/* Para dar un destaque en elementos activos*/
input:focus, textarea:focus, select:focus {
    border-color: #000;
}

/*------------------------------------------------------------------
Sign-ini*/

.text-right{
    text-align: right;
}
