body{
    
}

main {
    float: left;
    width: 100%;
    margin: 45px 0;
    background-color: yellow;
}

main > div.wrapper{
    width: 960px;
    margin: 0 auto;
}

header, footer{
    width: 100%;
    float: left;
    background-color: yellow;
}

/*-----------------------------------------------------------------
 Menu */

ul.navigation {
    float: left;
    width: 100%;
    margin: 0 2%;
    padding-left: 0;
    list-style-type: none;
    text-align: center; /* centramos el contenido del <ul> (<li>)*/
} 

ul.navigation > li{
    display: inline-block; /* evita el salto de linea (inline) pero permite la distribución de bloque */
    width: 20%; /* al ser inline-block estaban ocupando el tamaño de su contenido */
    text-align: center; /* centramos el contenido del <li> (<a>) Aunque en realidad el agent user: Chrome W10 le da una propieda webkit que hace que herede el text align del padre, luego sería inncesario*/
    background-color: purple;
    transition: background-color 2s;
}

/*
    a(:link)
    a:visited
    a:hover
    a:active
*/

ul.navigation > li.normal:hover{ /* al pasar el ratón por un contenedor <li> se cambia su bg-color y su width */
    background-color: violet;
    width:25%;
}

ul.navigation li:hover{
    background-color: violet;
}

/* Cuando pasee el ratón por el li quiero que su hijo cambie su color */
ul.navigation li:hover > a{
    color: white;
}

ul.navigation li:hover > span{
    color: white;
}

ul.navigation li > span{
    color: white;
}

ul.navigation li > a{
    color: yellow; /* ya que si no se especifíca heredaría la propiedad del padre (contendor <li>) */
}

ul.navigation li > a:visited{
    color: yellow;
}


ul.navigation li > a:hover{
     color: purple;
}


li.drop-down {
    height: 18px;
    position: relative;
}

li.drop-down > ul {
    position: absolute;
    display: none;
    width: 337.6px; /* Dato del li.drop-down visto con el inspector */
}

li.drop-down > ul > li {
    background-color: purple;
    display: inline-block;        
}

li.drop-down:hover > ul {
    top: 18px;
    left: 0;
    display: block;
    list-style-type: none;
    padding-left: 0;
    width: 337.6px; /* Dato del li.drop-down visto con el inspector */
}


/*---
-------------------------------------------------------------
Formulario*/

form{
    width: 100%;
    margin-top: 5%;
}


.left-col{
    width: 50%;
    float: left;
    margin-bottom: 5px;
    text-align: center;
}

.right-col{
    width: 50%;
    float: left;
    margin-bottom: 5px;
}

.center{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*------------------------------------------------------------------
Sign-ini*/

.text-right{
    text-align: right;
}
